{% extends 'base.html' %}

{% block content %}
    <div class="bg-light p-5 rounded-3 text-center">
        <h1 class="display-4">Welcome to Forum API Frontend</h1>
        {% if is_authenticated %}
            <p class="lead">Hello, {{ username }}!</p>
            <hr class="my-4">
            <p>You are currently logged in. You can browse the forum or logout.</p>
        {% else %}
            <p class="lead">Please login or register to access all features.</p>
            <hr class="my-4">
            <p>This is a simple frontend for the Forum API.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
                <a class="btn btn-secondary btn-lg" href="/register" role="button">Register</a>
            </p>
        {% endif %}
    </div>
{% endblock %}
